@import "tailwindcss";

@theme {
  --font-raleway: "Raleway", sans-serif; 
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 64px;
}

.background-texture {
  background-color: #fff9f5;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0,
    rgba(0, 0, 0, 0.03) 1px,
    transparent 1px,
    transparent 12px
  );
  background-size: 100% 100%;
  background-position: 0 0;
}

.animate-section {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 0.8s ease, transform 0.8s ease;
	text-align: center;
}

.animate-section.visible {
	opacity: 1;
	transform: translateY(0);
}